body, div, section, form {
    display: block;
}

.main > h2 {
    font-family: Roboto Condensed,serif;
}

#generalbody {
	background-image:url('../images/rsz_1rsz_etf-beograd2.jpg');
	background-repeat:repeat;
	margin: 0;
	padding: 0 5%;
}

#wrapper {
	margin: 100px auto;
	max-width: 795px;
	overflow: hidden;
	position: relative;
	background-color: #fefdfa;
}

#regwrapper {
    margin: 50px auto;
    max-width: 795px;
    overflow: hidden;
    position: relative;
    background-color: #fefdfa;
}

@media screen and (max-width: 1280px) {
    #wrapper {
        margin: 100px auto;
    }

    #regwrapper {
        margin: 50px auto;
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        margin: 85px auto;
    }

    #regwrapper {
        margin: 40px auto;
    }
}

@media screen and (max-width: 736px) {
    #wrapper {
        margin: 70px auto;
    }

    #regwrapper {
        margin: 40px auto;
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        margin: 54px auto;
    }

    #regwrapper {
        margin: 40px auto;
    }
}

#header {
	border-bottom: 1px solid #e6dec5;
    box-shadow: inset 0 72px 0 #f4f3f0;
    padding: 12px 5% 10px;
    border: 0;
    min-height: 67px;
}

#coltitle {
    text-align: center;
	font-size: 25px;
	margin-top: 5px;
	width: 100%;
	white-space: nowrap;
    color: #6d6d6c;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    display: block;
    margin-bottom: 5px;
    font-family: Open Sans Condensed, Roboto Condensed, serif;
}


@media screen and (max-width: 480px) {
    #coltitle {
        font-size: 22px;
    }
}

#unititle {
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    color: #6d6d6c;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
    font-family: Open Sans Condensed, Roboto Condensed, serif;
}

#content {
	margin-top: 0;
    padding-left: 20.7%;
    padding-right: 20.7%;
    padding: 0 5% 15px;
}

form {
	position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    color: #5b5b5a;
}

#login_form h2 {
    letter-spacing: 3px;
	text-align: center;
    font-family: Roboto Condensed,serif;
	font-size: 38px;
	font-weight: 800;
    font-style: normal;
    line-height: 1em;
    margin: 1em 0 1rem;
    color: #474746;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#login_form h4 {
    text-align: center;
    font-family: Roboto Condensed,serif;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    #login_form h2 {
        font-size: 30px;
    }

    #login_form h4 {
        font-size: 16px;
    }
}

.center {
    text-align: center;
}

#forgotpass {
    margin-top: 5px;
    margin-bottom:5px;
}

#logo {
    float: none;
    position: absolute;
    background: url('../images/download.svg');
    background-size: 119px 128px;
    width: 119px;
    height: 128px;
    top: -45px;
    left: 50%;
    margin-left: -59px;
    margin-right: 0;
    z-index: 1;
}

.main {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#changepassword_form {
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
    margin-bottom: 0px;
}